{% extends 'base.html.twig' %}

{% block title %}{{ 'Тест'|trans }}{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div id="test" class="test">Loading</div>
        </div>
    </div>
{% endblock %}
