{% extends 'base.html.twig' %}

{% block title %}{{ 'Тест'|trans }}{% endblock %}

{% block body %}
    <main>
        <div class="container">
            <div class="row">
                <div id="test" class="test card card-body">Loading</div>
            </div>
        </div>
    </main>
{% endblock %}
