body {
    background-color: skyblue;
}

.test {
    border: 1px solid;
    padding: 15px;
    background: #f9f9f9;
}

.test__name {
    font-weight: 600;
    font-size: 18px;
}

.test__ul {
    list-style: none;
    padding: 0;
}

.test__li {
    margin-bottom: 15px;
}

.test__li label {
    padding: 15px 15px 15px 5px;
    cursor: pointer;
}

.test__checkbox {
    margin-right: 7px;
}

.test__button {
    padding: 7px 15px;
    cursor: pointer;
}
