<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
    {% block stylesheets %}
    {% endblock %}
    {% block javascripts %}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}
</head>
<body>
{% block body %}{% endblock %}
<section class="container mt-5">
    <small class="text-muted">
        <b>Автор:</b>
        <a href="https://hh.ru/resume/1f3a6edbff03b7e1ac0039ed1f676c66373078" target="_blank" class="text-muted">Давыдов Артём</a>
        <br/>
        <b>Исходный код:</b>
        <a href="https://github.com/profguide/sms_test_tech_task" target="_blank" class="text-muted">Github</a>
    </small>
</section>
</body>
</html>
